global/tomography/chow2021_ep2020_mix.h5 filter=lfs diff=lfs merge=lfs -text
global/tomography/ep2020.h5 filter=lfs diff=lfs merge=lfs -text
global/tomography/ep2025.h5 filter=lfs diff=lfs merge=lfs -text
regional/Wakatipu/Wakatipu_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Mackenzie/Mackenzie_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Hanmer/Hanmer_basement_WGS84_v19p1.h5 filter=lfs diff=lfs merge=lfs -text
regional/Hanmer/Hanmer_basement_WGS84_v25p3.h5 filter=lfs diff=lfs merge=lfs -text
regional/Porirua/Porirua_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Marlborough/Marlborough_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Wairarapa/Wairarapa_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Ranfurly/Ranfurly_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Whangaparoa/Whangaparoa_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/PalmerstonNorth/PalmerstonNorth_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/OmaioBay/OmaioBay_basement_WGS84_v22p3.h5 filter=lfs diff=lfs merge=lfs -text
regional/OmaioBay/OmaioBay_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/NE_Otago/NE_Otago_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Wanaka/Wanaka_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Waiapu/Waiapu_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/SouthernHawkesBay/SouthernHawkesBay_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Balclutha/Balclutha_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/WestCoast/WestCoast_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Murchison/Murchison_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/NorthCanterbury/NorthCanterbury_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/TeAnau/TeAnau_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Gisborne/Gisborne_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Cheviot/Cheviot_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/SpringsJunction/SpringsJunction_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/WaikatoHauraki/WaikatoHauraki_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Dunedin/Dunedin_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/BanksPeninsulaVolcanics/BanksPeninsulaVolcanics_Miocene_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/BanksPeninsulaVolcanics/BanksPeninsulaVolcanics_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Westport/Westport_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Kaikoura/Kaikoura_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Kaikoura/Kaikoura_basement_WGS84_v25p5.h5 filter=lfs diff=lfs merge=lfs -text
regional/Mosgiel/Mosgiel_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Southland/Southland_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Waitaki/Waitaki_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Canterbury/Canterbury_Paleogene_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Canterbury/Canterbury_Pliocene_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Canterbury/CantDEM.h5 filter=lfs diff=lfs merge=lfs -text
regional/Canterbury/Canterbury_Pliocene_46_WGS84_v8p9p18.h5 filter=lfs diff=lfs merge=lfs -text
regional/Canterbury/Canterbury_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Canterbury/Canterbury_Miocene_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Hakataramea/Hakataramea_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Collingwood/Collingwood_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Alexandra/Alexandra_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Napier/Napier_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/GreaterWellington/GreaterWellington_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Nelson/Nelson_basement_WGS84_v19p1.h5 filter=lfs diff=lfs merge=lfs -text
regional/Nelson/Nelson_basement_WGS84_v25p5.h5 filter=lfs diff=lfs merge=lfs -text
regional/Karamea/Karamea_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/HawkesBay/HawkesBay_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/TolagaBay/TolagaBay_basement_WGS84.h5 filter=lfs diff=lfs merge=lfs -text
regional/Wellington/Wellington_basement_WGS84_v19p6.h5 filter=lfs diff=lfs merge=lfs -text
regional/Wellington/Wellington_basement_WGS84_v25p5.h5 filter=lfs diff=lfs merge=lfs -text
regional/Wellington/Wellington_basement_WGS84_v21p8.h5 filter=lfs diff=lfs merge=lfs -text
regional/Wellington/Wellington_basement_WGS84_v19p1.h5 filter=lfs diff=lfs merge=lfs -text
global/vs30/NZ_Vs30.h5 filter=lfs diff=lfs merge=lfs -text
global/vs30/NZ_Vs30_HD_With_Offshore.h5 filter=lfs diff=lfs merge=lfs -text
global/surface/shoreline_distance_2k.h5 filter=lfs diff=lfs merge=lfs -text
global/surface/NZ_DEM_HD.h5 filter=lfs diff=lfs merge=lfs -text
global/surface/CantDEM.h5 filter=lfs diff=lfs merge=lfs -text
global/surface/DEM.h5 filter=lfs diff=lfs merge=lfs -text
global/surface/negInf.h5 filter=lfs diff=lfs merge=lfs -text
global/surface/posInf.h5 filter=lfs diff=lfs merge=lfs -text
